.deleteIcon{

}
.deleteIcon:hover{
    cursor: pointer;
}
.v-select .dropdown-toggle .clear{
    margin-top: 6px!important;
}
.input_alert {
    font-size: 11px;
    color: crimson;
}
table tr th{
    padding: 10px;
    background-color: #57abfc;

}
.side-nav{
    background-color:#155183 !important;
}
.navbar-inverse .navbar-nav > li > a{
    color:#fff!important;
}
.side-nav > li > ul > li > a{
    color: #0ec3f3!important;
}
.spinnerClass{
    text-align: center;
}
.loaderHidden {
    margin-right: 10px;
    display: none;
}

.loaderShow{
    display: block;
}

.mainContentHidden{
    display: none;

}
.mainContentShow{
    display: block;

}
.thumb{
    width: 100px;
    height: 110px;
}
.inner_options_block{
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}

.trueAnswer{
    color: #5cb85c;
    margin-left: 5px;
}
#page-wrapper{
    height: 1500px !important;
}
